@use '../abstracts/variables' as *;

.card {
  background-color: $color-card-bg;
  padding: $spacing-sm;
  border-radius: $radius-sm;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
}

.card__title {
  font-size: 14px;
  margin-bottom: $spacing-xs;
}

.card__footer {
  display: flex;
  justify-content: flex-end;
}

.card__comments {
  background: #f4f5f7;
  padding: 2px 6px;
  border-radius: $radius-sm;
  font-size: 12px;
}
