*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
